body {
    font-family: 'Crimson Text', serif;
    color: rgb(102, 52, 81);
    height: 200px;
    width: 455px;
    background-color: antiquewhite;
    margin: 20px auto;
    text-align: center;
    
}

.main-header {
    color: rgb(181, 46, 95);
    background-color: white;
    padding: 30px 30px;
    margin: 0px auto;
}

.background {
    padding: 30px 30px;
}

.flowers {
    height: 200px;
    width: 400px;
    background-color: darksalmon;
}

.Blurb{
    height: 20px;
    width: 350px;
    background-color: darksalmon;
    text-align: center;
    margin: 0px auto;
}