
body {
    font-family: 'Crimson Text', serif;
    color: #D2A7A2;
    height: 400px;
    width: 755px;
    background-color: #DFEBF1;
    margin: 40px auto;
    text-align: center;

}

.main-header {
    color: #ce8f88;
    background-color: #eef3f3;
    padding: 30px 30px;
    margin: 0px auto;
    border-radius: 30px;
    box-shadow: 10px 10px #e4a2b6;
}


.baked {
    height: 650px;
    background-color: #eef3f3;
    border-radius: 60px;
    padding: 10px;
    box-shadow: 10px 10px #e4a2b6;
}

.blurb {
    height: 40px;

    padding: 10px;
    background-color: #eef3f3;
    border-radius: 30px;
    box-shadow: 5px 5px #e4a2b6;
    /* Font stuff */
    font-style: italic;
    font-size: large;
    font-weight: bold;
}



#donuts {
    height: 35vh;
    position: absolute;
    top: 250px;
    left: 1340px;
    

}

#milkshake {
    height: 35vh;
    position: absolute;
    top: 1030px;
    left: 1325px;
}

#swissroll {
    height: 35vh;
    position: absolute;
    top: 1800px;
    left: 1340;
}