body {
    font-family: 'Crimson Text', serif;
    color: rgb(80, 34, 61);
    height: 400px;
    width: 755px;
    background-color: antiquewhite;
    margin: 40px auto;
    text-align: center;

}

.main-header {
    color: rgb(198, 36, 95);
    background-color: white;
    padding: 30px 30px;
    margin: 0px auto;
    border-radius: 30px;
    box-shadow: 10px 10px rgb(198, 36, 95);
}

/* webpage color code */
.background {
    padding: 30px 30px;
}

.baked {
    height: 400px;
    background-color: rgb(255, 174, 166);
    border-radius: 60px;
    padding: 10px;
    box-shadow: 10px 10px rgb(232, 118, 143);
}

.blurb {
    height: 40px;

    padding: 10px;
    background-color: rgb(255, 174, 166);
    border-radius: 30px;
    box-shadow: 5px 5px rgb(232, 118, 143);
    /* Font stuff */
    font-style: italic;
    font-size: large;
    font-weight: bold;

}
